In [1]:
import pandas as pd

df = pd.read_csv("Telco-Customer-Churn.csv")
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [2]:
# Explorando información básica del dataset
print(f"Dimensiones del dataset: {df.shape}")
print("\nPrimeras 5 filas:")
display(df.head())

# Verificamos si hay valores nulos
print("\nValores nulos por columna:")
display(df.isnull().sum())

# Información básica del dataset
print("\nInformación general:")
display(df.info())

# Estadísticas descriptivas
print("\nEstadísticas descriptivas:")
display(df.describe())

# Verificamos si existe una columna de churn y su distribución
if 'Churn' in df.columns:
    print("\nDistribución de clientes por deserción:")
    display(df['Churn'].value_counts())
    display(df['Churn'].value_counts(normalize=True).mul(100).round(2).astype(str) + ' %')

Dimensiones del dataset: (7043, 21)

Primeras 5 filas:

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

Valores nulos por columna:

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

None

Estadísticas descriptivas:

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

Distribución de clientes por deserción:

Churn
No     5174
Yes    1869
Name: count, dtype: int64

Churn
No     73.46 %
Yes    26.54 %
Name: proportion, dtype: object

In [3]:
# Análisis de características demográficas
demographic_cols = ['gender', 'SeniorCitizen', 'Partner', 'Dependents']
service_cols = ['PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
                'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']
account_cols = ['tenure', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges']

# Función para analizar la relación entre variables categóricas y deserción
def analyze_categorical_features(dataframe, features):
    for feature in features:
        if feature in df.columns:
            print(f"\n\nRelación entre {feature} y deserción:")
            churn_rate = pd.crosstab(df[feature], df['Churn'], normalize='index').mul(100).round(2)
            counts = pd.crosstab(df[feature], df['Churn'])
            
            result = pd.concat([counts, churn_rate], axis=1, keys=['Recuento', 'Porcentaje (%)'])
            display(result)
            
            # Visualización opcional
            # plt.figure(figsize=(10, 6))
            # sns.countplot(x=feature, hue='Churn', data=df)
            # plt.title(f'Distribución de {feature} por deserción')
            # plt.show()

# Análisis de características numéricas
def analyze_numerical_features(dataframe, features):
    for feature in features:
        if feature in df.columns:
            print(f"\n\nEstadísticas de {feature} por deserción:")
            display(df.groupby('Churn')[feature].describe())
            
            # Visualización opcional
            # plt.figure(figsize=(10, 6))
            # sns.boxplot(x='Churn', y=feature, data=df)
            # plt.title(f'Distribución de {feature} por deserción')
            # plt.show()

# Ejecutar análisis si existe la columna de churn
if 'Churn' in df.columns:
    print("\n--- ANÁLISIS DEMOGRÁFICO ---")
    analyze_categorical_features(df, demographic_cols)
    
    print("\n--- ANÁLISIS DE SERVICIOS ---")
    analyze_categorical_features(df, service_cols)
    
    print("\n--- ANÁLISIS DE CUENTA ---")
    analyze_categorical_features(df, [col for col in account_cols if df[col].dtype == 'object'])
    analyze_numerical_features(df, [col for col in account_cols if df[col].dtype != 'object'])

--- ANÁLISIS DEMOGRÁFICO ---


Relación entre gender y deserción:

       Recuento      Porcentaje (%)
Churn        No  Yes             No    Yes
gender
Female     2549  939          73.08  26.92
Male       2625  930          73.84  26.16

Relación entre SeniorCitizen y deserción:

              Recuento       Porcentaje (%)
Churn               No   Yes             No    Yes
SeniorCitizen
0                 4508  1393          76.39  23.61
1                  666   476          58.32  41.68

Relación entre Partner y deserción:

        Recuento       Porcentaje (%)
Churn         No   Yes             No    Yes
Partner
No          2441  1200          67.04  32.96
Yes         2733   669          80.34  19.66

Relación entre Dependents y deserción:

           Recuento       Porcentaje (%)
Churn            No   Yes             No    Yes
Dependents
No             3390  1543          68.72  31.28
Yes            1784   326          84.55  15.45

--- ANÁLISIS DE SERVICIOS ---


Relación entre PhoneService y deserción:

             Recuento       Porcentaje (%)
Churn              No   Yes             No    Yes
PhoneService
No                512   170          75.07  24.93
Yes              4662  1699          73.29  26.71

Relación entre MultipleLines y deserción:

                 Recuento      Porcentaje (%)
Churn                  No  Yes             No    Yes
MultipleLines
No                   2541  849          74.96  25.04
No phone service      512  170          75.07  24.93
Yes                  2121  850          71.39  28.61

Relación entre InternetService y deserción:

                Recuento       Porcentaje (%)
Churn                 No   Yes             No    Yes
InternetService
DSL                 1962   459          81.04  18.96
Fiber optic         1799  1297          58.11  41.89
No                  1413   113          92.60   7.40

Relación entre OnlineSecurity y deserción:

                    Recuento       Porcentaje (%)
Churn                     No   Yes             No    Yes
OnlineSecurity
No                      2037  1461          58.23  41.77
No internet service     1413   113          92.60   7.40
Yes                     1724   295          85.39  14.61

Relación entre OnlineBackup y deserción:

                    Recuento       Porcentaje (%)
Churn                     No   Yes             No    Yes
OnlineBackup
No                      1855  1233          60.07  39.93
No internet service     1413   113          92.60   7.40
Yes                     1906   523          78.47  21.53

Relación entre DeviceProtection y deserción:

                    Recuento       Porcentaje (%)
Churn                     No   Yes             No    Yes
DeviceProtection
No                      1884  1211          60.87  39.13
No internet service     1413   113          92.60   7.40
Yes                     1877   545          77.50  22.50

Relación entre TechSupport y deserción:

                    Recuento       Porcentaje (%)
Churn                     No   Yes             No    Yes
TechSupport
No                      2027  1446          58.36  41.64
No internet service     1413   113          92.60   7.40
Yes                     1734   310          84.83  15.17

Relación entre StreamingTV y deserción:

                    Recuento      Porcentaje (%)
Churn                     No  Yes             No    Yes
StreamingTV
No                      1868  942          66.48  33.52
No internet service     1413  113          92.60   7.40
Yes                     1893  814          69.93  30.07

Relación entre StreamingMovies y deserción:

                    Recuento      Porcentaje (%)
Churn                     No  Yes             No    Yes
StreamingMovies
No                      1847  938          66.32  33.68
No internet service     1413  113          92.60   7.40
Yes                     1914  818          70.06  29.94

--- ANÁLISIS DE CUENTA ---


Relación entre Contract y deserción:

               Recuento       Porcentaje (%)
Churn                No   Yes             No    Yes
Contract
Month-to-month     2220  1655          57.29  42.71
One year           1307   166          88.73  11.27
Two year           1647    48          97.17   2.83

Relación entre PaperlessBilling y deserción:

                 Recuento       Porcentaje (%)
Churn                  No   Yes             No    Yes
PaperlessBilling
No                   2403   469          83.67  16.33
Yes                  2771  1400          66.43  33.57

Relación entre PaymentMethod y deserción:

                          Recuento       Porcentaje (%)
Churn                           No   Yes             No    Yes
PaymentMethod
Bank transfer (automatic)     1286   258          83.29  16.71
Credit card (automatic)       1290   232          84.76  15.24
Electronic check              1294  1071          54.71  45.29
Mailed check                  1304   308          80.89  19.11

Relación entre TotalCharges y deserción:

             Recuento     Porcentaje (%)
Churn              No Yes             No    Yes
TotalCharges
                   11   0          100.0    0.0
100.2               1   0          100.0    0.0
100.25              0   1            0.0  100.0
100.35              1   0          100.0    0.0
100.4               0   1            0.0  100.0
...               ...  ..            ...    ...
997.75              1   0          100.0    0.0
998.1               1   0          100.0    0.0
999.45              0   1            0.0  100.0
999.8               1   0          100.0    0.0
999.9               1   0          100.0    0.0

[6531 rows x 4 columns]

Estadísticas de tenure por deserción:

        count       mean        std  min   25%   50%   75%   max
Churn
No     5174.0  37.569965  24.113777  0.0  15.0  38.0  61.0  72.0
Yes    1869.0  17.979133  19.531123  1.0   2.0  10.0  29.0  72.0

Estadísticas de MonthlyCharges por deserción:

        count       mean        std    min    25%     50%   75%     max
Churn
No     5174.0  61.265124  31.092648  18.25  25.10  64.425  88.4  118.75
Yes    1869.0  74.441332  24.666053  18.85  56.15  79.650  94.2  118.35

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Ridge, Lasso, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score

# Preparamos los datos para los modelos de selección de características
# Primero separamos las variables predictoras y la variable objetivo
X = df.drop(['customerID', 'Churn'], axis=1, errors='ignore')
y = df['Churn'].map({'Yes': 1, 'No': 0})

# Identificamos columnas numéricas y categóricas
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X.select_dtypes(include=['object']).columns.tolist()

# Configuramos el preprocesamiento
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(drop='first', sparse_output=False), categorical_features)
    ])

# Aplicamos el preprocesamiento y dividimos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

# Aplicamos la transformación
X_train_preprocessed = preprocessor.fit_transform(X_train)
X_test_preprocessed = preprocessor.transform(X_test)

# Obtenemos los nombres de las características después del preprocesamiento
ohe_feature_names = preprocessor.named_transformers_['cat'].get_feature_names_out(categorical_features)
all_feature_names = np.concatenate([numeric_features, ohe_feature_names])

print(f"Número de características después del preprocesamiento: {len(all_feature_names)}")

# 1. SELECCIÓN DE CARACTERÍSTICAS CON RIDGE
print("\n\n--- SELECCIÓN DE CARACTERÍSTICAS CON RIDGE ---")

# Utilizamos LogisticRegression con regularización Ridge (l2)
alphas = [0.001, 0.01, 0.1, 1, 10, 100]
ridge_model = LogisticRegression(penalty='l2', solver='liblinear', max_iter=1000)

param_grid = {'C': [1/alpha for alpha in alphas]}  # C es inverso de alpha
grid_search_ridge = GridSearchCV(ridge_model, param_grid, cv=5, scoring='accuracy')
grid_search_ridge.fit(X_train_preprocessed, y_train)

best_ridge = grid_search_ridge.best_estimator_
print(f"Mejor parámetro C: {grid_search_ridge.best_params_['C']}")

# Evaluamos el modelo Ridge
y_pred_ridge = best_ridge.predict(X_test_preprocessed)
print(f"Precisión del modelo Ridge: {accuracy_score(y_test, y_pred_ridge):.4f}")

# Obtenemos la importancia de las características
ridge_importance = pd.DataFrame({
    'Feature': all_feature_names,
    'Importance': np.abs(best_ridge.coef_[0])
})
ridge_importance = ridge_importance.sort_values('Importance', ascending=False)

print("\nTop 15 características más relevantes según Ridge:")
print(ridge_importance.head(15))

# Visualización
plt.figure(figsize=(12, 8))
sns.barplot(x='Importance', y='Feature', data=ridge_importance.head(15))
plt.title('Top 15 características según Ridge')
plt.tight_layout()
plt.show()

# 2. SELECCIÓN DE CARACTERÍSTICAS CON LASSO
print("\n\n--- SELECCIÓN DE CARACTERÍSTICAS CON LASSO ---")

# Utilizamos LogisticRegression con regularización Lasso (l1)
lasso_model = LogisticRegression(penalty='l1', solver='liblinear', max_iter=1000)

param_grid = {'C': [1/alpha for alpha in alphas]}
grid_search_lasso = GridSearchCV(lasso_model, param_grid, cv=5, scoring='accuracy')
grid_search_lasso.fit(X_train_preprocessed, y_train)

best_lasso = grid_search_lasso.best_estimator_
print(f"Mejor parámetro C: {grid_search_lasso.best_params_['C']}")

# Evaluamos el modelo Lasso
y_pred_lasso = best_lasso.predict(X_test_preprocessed)
print(f"Precisión del modelo Lasso: {accuracy_score(y_test, y_pred_lasso):.4f}")

# Obtenemos la importancia de las características
lasso_importance = pd.DataFrame({
    'Feature': all_feature_names,
    'Importance': np.abs(best_lasso.coef_[0])
})
lasso_importance = lasso_importance.sort_values('Importance', ascending=False)

print("\nTop 15 características más relevantes según Lasso:")
print(lasso_importance.head(15))

# Características seleccionadas (con coeficientes no nulos)
selected_by_lasso = lasso_importance[lasso_importance['Importance'] > 0]
print(f"\nNúmero de características seleccionadas por Lasso: {len(selected_by_lasso)}")

# Visualización
plt.figure(figsize=(12, 8))
sns.barplot(x='Importance', y='Feature', data=lasso_importance.head(15))
plt.title('Top 15 características según Lasso')
plt.tight_layout()
plt.show()

# 3. SELECCIÓN DE CARACTERÍSTICAS CON RANDOM FOREST
print("\n\n--- SELECCIÓN DE CARACTERÍSTICAS CON RANDOM FOREST ---")

# Entrenamos un Random Forest Classifier
rf_model = RandomForestClassifier(random_state=42, n_estimators=100)
rf_model.fit(X_train_preprocessed, y_train)

# Evaluamos el modelo Random Forest
y_pred_rf = rf_model.predict(X_test_preprocessed)
print(f"Precisión del modelo Random Forest: {accuracy_score(y_test, y_pred_rf):.4f}")

# Obtenemos la importancia de las características
rf_importance = pd.DataFrame({
    'Feature': all_feature_names,
    'Importance': rf_model.feature_importances_
})
rf_importance = rf_importance.sort_values('Importance', ascending=False)

print("\nTop 15 características más relevantes según Random Forest:")
print(rf_importance.head(15))

# Visualización
plt.figure(figsize=(12, 8))
sns.barplot(x='Importance', y='Feature', data=rf_importance.head(15))
plt.title('Top 15 características según Random Forest')
plt.tight_layout()
plt.show()

# Comparación de los tres métodos
print("\n\n--- COMPARACIÓN DE LOS TRES MÉTODOS DE SELECCIÓN ---")

# Tomamos las top 10 características de cada método
top_ridge = set(ridge_importance.head(10)['Feature'])
top_lasso = set(lasso_importance.head(10)['Feature'])
top_rf = set(rf_importance.head(10)['Feature'])

# Características que aparecen en los tres métodos
common_features = top_ridge.intersection(top_lasso).intersection(top_rf)
print(f"\nCaracterísticas que aparecen en los tres métodos: {common_features}")

# Características que aparecen en al menos dos métodos
in_two_methods = (top_ridge.intersection(top_lasso)).union(
                  top_ridge.intersection(top_rf)).union(
                  top_lasso.intersection(top_rf)) - common_features
print(f"\nCaracterísticas que aparecen en al menos dos métodos: {in_two_methods}")

# Análisis de consenso: suma de rangos normalizados
combined_ranks = pd.DataFrame({'Feature': all_feature_names})

# Normalizamos y añadimos los rangos de cada método
for name, imp_df in [('Ridge', ridge_importance), ('Lasso', lasso_importance), ('RandomForest', rf_importance)]:
    # Creamos un diccionario de características a rangos
    ranks = {feat: idx + 1 for idx, feat in enumerate(imp_df['Feature'])}
    # Añadimos los rangos al dataframe combinado
    combined_ranks[f'{name}_rank'] = combined_ranks['Feature'].map(ranks).fillna(len(all_feature_names))
    # Normalizamos los rangos (0-1)
    combined_ranks[f'{name}_norm'] = combined_ranks[f'{name}_rank'] / len(all_feature_names)

# Calculamos la puntuación consenso (suma de rangos normalizados)
combined_ranks['consensus_score'] = (3 - (combined_ranks['Ridge_norm'] + 
                                         combined_ranks['Lasso_norm'] + 
                                         combined_ranks['RandomForest_norm']))

# Ordenamos por la puntuación consenso
combined_ranks = combined_ranks.sort_values('consensus_score', ascending=False)

print("\nTop 15 características según el consenso de los tres métodos:")
print(combined_ranks[['Feature', 'consensus_score']].head(15))

# Visualización del consenso
plt.figure(figsize=(12, 8))
sns.barplot(x='consensus_score', y='Feature', data=combined_ranks.head(15))
plt.title('Top 15 características según el consenso de los tres métodos')
plt.tight_layout()
plt.show()

# Resumen: las mejores características para predecir la deserción de clientes
print("\n\n--- RESUMEN DE LAS CARACTERÍSTICAS MÁS RELEVANTES ---")
print("Las características más importantes para predecir la deserción de clientes son:")
for idx, row in combined_ranks.head(10).iterrows():
    print(f"- {row['Feature']}: {row['consensus_score']:.4f}")

ModuleNotFoundError: No module named 'sklearn'

In [6]:
%pip install scikit-learn

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x10386a010>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x103b1b850>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x103b67050>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x103b67c50>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x103b748d0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
ERROR: Could not find a version that satisfies the requirement scikit-learn (from versions: none)
ERROR: No matching distribution found for scikit-learn
Note: you may need to restart the kernel to use updated packages.